<%- include('partials/header') %>

<div class="container mt-5">
  <h1>All Secrets</h1>
  <div class="row">
    <% if (secrets.length > 0) { %>
      <% secrets.forEach(secret => { %>
        <div class="col-sm-4 mb-4">
          <div class="card">
            <div class="card-body">
              <p class="card-text"><%= secret.secret %></p>
            </div>
          </div>
        </div>
      <% }); %>
    <% } else { %>
      <div class="col-12">
        <p>No secrets found.</p>
      </div>
    <% } %>
  </div>
</div>

<%- include('partials/footer') %>
